* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: linear-gradient(180deg, rgba(0, 0, 0, 1) 0%, rgba(38, 50, 127, 1) 100%);
    background-repeat: no-repeat;
    height: 100vh;
}

.container {
    font-family: arial;
    font-size: 24px;
    margin: 25px;
    width: 440px;
    height: 603px;
    outline: dashed 1px black;
    background-color: #f9f9f9;
    margin: auto;
    margin-top: 64px;
    border-radius: 16px;
    gap: 50px;
    background-color: #F9F9F9;
}

.container-img img {
    margin-top: 64px;
}

.input-text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.input-text input {
    gap: 10px;
    border-radius: 24px;
    border: 1px solid;
    padding: 12px 16px 12px 16px;
    font-size: 16px;
    line-height: 19px;
    width: 76%;
    text-align: center;
}

.input-text button {
    background: #F55B64;
    color: #FFFFFF;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    width: 140px;
    height: 48px;
    border: 0px;
    border-radius: 24px;
}

.shopping-list {
    margin-top: 24px;
}

.shopping-list h1 {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;

    font-weight: 400;
    size: 20px;


    color: #f55b64;
}

.shopping-list hr {
    border-style: dotted;
    color: #F55B64;
}

hr {
    border: 2px;
    opacity: 1;
}

.shopping-list p {
    font-weight: 400;
    size: 18px;

    color: #131730;
}

.lista-compras li {
    list-style: none;
}

.divisor-editar-excluir .gap-2 {
    display: flex;
    margin-left: -7%;
    align-items: center;
    font-size: 16px;
    font-weight: 400;
}

.divisor-editar-excluir {
    display: flex;
    justify-content: space-between;
}

.data-compra {
    font-size: 12px;
    display: flex;
    text-align: start;
    margin-left: -1.5%;
}








/* Alterações não CSS para o placehouder */

::-webkit-input-placeholder {
    color: #8A8A8A;
    font: 16px verdana, arial, sans-serif;
}

:-moz-placeholder {
    color: #8A8A8A;
    font: 16px verdana, arial, sans-serif;
}

::-moz-placeholder {
    color: #8A8A8A;
    font: 16px verdana, arial, sans-serif;
}

:-ms-input-placeholder {
    color: #8A8A8A;
    font: 16px verdana, arial, sans-serif;
}